*{
	font-family: 'Roboto', sans-serif;
}

h2{
	font-family: 'Montserrat', sans-serif;
}

h1{
	font-family: 'Montserrat', sans-serif;
	color: #E8DAEF;
}
img{
	width: 350px;
	border-radius: 40%;
	margin-bottom: 15px;
	height: 350px;

}
ul{
	list-style: none;
	padding: 0;
}

#landing ,
#gallery {
	height: 80vh;
	/* Center the elements vertically*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#gallery{
	border-radius: 0.3rem;

}

.tools{
	color: white;
	/* Createa a nice and clean section for tools*/
	padding: 25px;
	height: 200px;
	border: 5px solid #A01CA8;
	margin: 20px;
	width: 75%

}


p{
	color: #EDBB99;
	font-family: font-family: 'Acme', sans-serif;
	font-weight: bolder; 

}

html{
	scroll-behavior: smooth;
}

.navbar {
	background-color: #4A235A;
}

.nav-link {
	font-weight: bold;
}
.jumbotron {
	background-color: transparent;
}